@use 'variables';

.error {
    color: red;
    cursor: pointer;
    @include variables.for-esm {
        width: 320px;
    }
    @include variables.for-sm {
        width: 400px;
    }
    @include variables.for-md {
        width: 320px;
    }
    @include variables.for-lg {
        width: 370px;
    }
}   