@use "variables";

.page-main {
    display: block;
    min-height: calc(100vh - 350px);
}

.about-us {
    background-color: rgb(249, 249, 249);
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(232, 231, 231);

    @include variables.for-esm-2 {
        padding: 20px 40px 0px;
    }

    @include variables.for-md {
        padding: 20px 80px 0;
        justify-content: space-between;
    }
}

.valcarbid-info {
    .agency-title {
        font-size: 18px;
        color: black;
    }

    p {
        margin-bottom: 7px;
        color: black;
    }

    @include variables.for-esm {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        p {
            text-align: center;
        }
    }

    @include variables.for-md-2 {
        width: 230px;
        align-items: flex-start;
        p {
            text-align: left;
        }
    }
}

.keep-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-links {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
    h3 {
        display: flex;
        justify-content: center;
        font-weight: normal;
        margin-bottom: 15px;    
        padding-right: 5px;
    }

    a {
        padding-left: 7px;
        color: black;
        text-decoration: none;
        &:hover,
        &:focus {
            color: #6fc754;
        }
    }

    @include variables.for-esm {
        width: 100%;
        padding-bottom: 22px;
    }

    @include variables.for-esm-2 {
        width: 200px;
        margin-left: calc(5%);
    }

    @include variables.for-sm {
        margin-left: calc(10%);
    }

    @include variables.for-md-2 {
        margin-left: 0;
    }
}

.featured-links {
    display: flex;
    flex-direction: column;
    .list-links {
        display: flex;
        flex-direction: column;
        gap: 9px;
        @include variables.for-esm {
            width: 100%;
            align-items: center;
        }  
        @include variables.for-md-2 {
            width: 100%;
            align-items: flex-end;
        }  
    }

    h3 {
        font-weight: normal;
        margin-bottom: 15px;
    }

    a {
        color: black;
        text-decoration: none;

        &:hover,
        &:focus {
            color: #6fc754;
        }
    }
    @include variables.for-esm {
        width: 100%;
        align-items: center;    
    }

    @include variables.for-esm-2 {
        width: 215px;
        margin-right: calc(5%);
    }
    
    @include variables.for-sm {
        margin-right: calc(10%);
    }

    @include variables.for-md-2 {
        margin-right: 0;
        align-items: flex-end;    
    }
}   



// ANOTHER FOOTER
.social-and-copyrights {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 80px;
    background-color:  rgb(249, 249, 249);

    @include variables.for-esm {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    @include variables.for-esm-2 {
        flex-direction: row;
        gap: 0px;
        justify-content: space-between;
    }
}

.rights-reserved {
    width: 105px;
    p {
        color: black;
        font-size: 9px;
    }

    @include variables.for-esm {
        p {
            width: 105px;
            text-align: center;
        }
    }

}

.socials {
    @include variables.for-esm {
    }

    @include variables.for-sm {
    }

    @include variables.for-md {
    }

    @include variables.for-lg {
    }
}

.social-item {
    padding: 7px 13px;
    border-radius: 50px;
}

.twitter-bg {
    border: 1px solid variables.$twitter-color;
    color: variables.$twitter-color;

    &:hover,
    &:focus {
        background-color: variables.$twitter-color;
        color: white;
    }
}

.facebook-bg {
    border: 1px solid variables.$facebook-color;
    color: variables.$facebook-color;

    &:hover,
    &:focus {
        background-color: variables.$facebook-color;
        color: white;
    }
}

.pinterest-bg {
    border: 1px solid variables.$pinterest-color;
    color: variables.$pinterest-color;

    &:hover,
    &:focus {
        background-color: variables.$pinterest-color;
        color: white;
    }
}

.linkedin-bg {
    border: 1px solid variables.$linkedin-color;
    color: variables.$linkedin-color;

    &:hover,
    &:focus {
        background-color: variables.$linkedin-color;
        color: white;
    }
}